// Generic structural components

// Hide an element but still make it accessible to screen readers.
// Borrowed from Drupal
%invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

// Center an element vertically within its parent.
%centered-vertical {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

// Center an element horizontally within its parent.
%centered-horizontal {
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
}

// Center an element vertically and horizontally within its parent.
%centered-both {
  position: relative;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
}
