// -- DEFAULT VARS

// Starter Colors
$status:  rgb(3, 15, 91) !default;
$warning: rgb(101, 73, 23) !default;
$error:   rgb(69, 4, 12) !default;


// -- OVERRIDE 3RD PARTY DEFAULTS

// Foundation Defaults
$include-html-classes: false;
