// Prototyping settings

// Default colors for wireframing boxes
$proto-color: black !default;

// Default setting for wireframe borders
$proto-borders: true !default;

// Default setting to show region tags
$proto-tags: true !default;
