// Copy these variables into your subtheme and import them before importing
// dependent cBase mixins and functions.

// Colors
$status:  rgb(3, 15, 91);
$warning: rgb(101, 73, 23);
$error:   rgb(69, 4, 12);
