// Wireframing tools

$colors: green, yellow, orange, red, purple, blue;

// Apply a label to the element for identification on the screen
@mixin wiretag ($label) {
  @if $prototype {
    position: relative;

    &:before {
      content: "#{$label}";
      font-size: 10pt;
      //position: absolute;
      //bottom: 0;
      //right: 0;
      float: right;
      padding: .25em .5em;
      border: {
        left: 1px dotted;
        bottom: 1px dotted;
      }
      border-bottom-left-radius: .5em;
      background-color: rgba(0,0,0,.2);
    }
  }
}

// Fill in an element on the page.
@mixin wirebox ($level: 1) {
  @if $prototype {
    border: 1px dashed nth($colors, $level);
    background-color: rgba(nth($colors, $level), .2);
  }
}

// Set a default size on an element
@mixin wiresize ($w: null, $h: null) {
  @if $prototype {
    @if $w != null {width: $w;}
    @if $h != null {height: $h;}
  }
}
