//- Global base styles.  No assumptions.
@charset "UTF-8";

* {box-sizing: border-box;}

body {margin: 0 auto;}

a {outline: 0;}

// Navigation lists don't have bullets.
nav ul li {list-style: none;}

// http://css-tricks.com/fixing-tables-long-strings/
table {table-layout: fixed;}
