$offset: 35px;

body {
  padding-top: $offset;
}

nav#prototype {
  padding: 0 1em;
  margin: 0;
  position: fixed;
  height: $offset;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  box-shadow: 0 5px 10px 0 rgba(black, .3);
  overflow: hidden;
  z-index: 9;

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        padding: .25em .5em;
        color: white;
        font-size: 12pt;
        margin: 0 1em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
